* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/* Calculator */
.calculator {
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 32px 64px rgba(0, 0, 0, 0.8);
}

.calculator__display {
  padding: 20px 24px;
  padding-bottom: 44px;
  margin-bottom: -24px;
  background-color: var(--display_light);
  text-align: right;
}

.calculator__history {
  font-size: 24px;
}

.calculator__history strong {
  font-weight: 400;
  color: var(--accent);
}

.calculator__total {
  font-size: 32px;
  font-weight: 600;
}

.calculator__actions {
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 32px;
  background-color: var(--actions_light);
  font-size: 24px;
}

.calculator__row {
  display: flex;
  justify-content: space-between;
}
.calculator__col {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 64px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}

.calculator__col img {
  pointer-events: none; /*-- блокировка отслеживания событий(кликов в том числе) --*/
}

.calculator__col_reset {
  color: var(--accent);
}

.calculator__col_action {
  color: var(--primary);
}

/* Calculator Dark-Theme */
.calculator_dark {
  color: var(--light);
}

.calculator_dark .calculator__display {
  background-color: var(--display_dark);
}

.calculator_dark .calculator__actions {
  background-color: var(--actions_dark);
}
